django_annoying==0.10.3
channels==0.17.3
Django==1.10.3
django_imagekit==3.3
dj-database-url==0.4.0
dj-static==0.0.6
Unipath==1.0
python-decouple==3
Pillow==3.4.2
psycopg2==2.6.1
whitenoise==3.2
dj-database-url==0.4.0
asgi_redis==1.0.0
